# Dossier de données confidentielles (MIMIC III)
notebooks/MIMIC\ III/

# Fichiers système Mac et Python
.DS_Store
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Historiques et temporaires
.Rhistory
.RData